@using MbmStore.Models;

@{
    ViewBag.Title = "Index";
}

@helper RenderCustomer(Customer customer) {
    if ("John".Equals(customer.FirstName))
    {
        @customer.FirstName @customer.LastName @String.Format(" is {0} years old.", customer.Age)<br />
        @String.Format(" ({0})", string.Join(", ", customer.PhoneNumbers))<br />
}
else
{
        @customer.FirstName @customer.LastName @String.Format(" ({0})", string.Join(", ", customer.PhoneNumbers))<br />
}
    @customer.Address<br />
    @customer.Zip @customer.City
}

<h2>Index</h2>

<p>
    @RenderCustomer(ViewBag.John)
</p>

<p>
    @RenderCustomer(ViewBag.Maz)
</p>

<p>
    @RenderCustomer(ViewBag.Liz)
</p>
